/* doneRepairsSliderPagination.scss */

.done-repairs-pagination {
    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--chakra-colors-accent-main);
    }
}